.auxiliary-box{
    width: 100%;
    padding: 7.5px;
}

.auxiliary-top{
    width: 100%;
    margin-bottom: 15px;
}

.TopIntroduction {
    position: relative;
    height: 43px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    border-bottom: 1px solid #f6f6f6;
}

.down-box{
    padding: 7.5px;
    background: white;
}

.elem-quote{
    margin-bottom: 10px;
    padding: 15px;
    line-height: 22px;
    border-left: 5px solid #009688;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
    color: rgb(105, 105, 105);
}

.elem-quote-two{
    border-left: 5px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: white;
}

.fieldset-text{
    margin-bottom: 50px;
    padding: 0;
    border-width: 1px;
}

.fieldset-text legend{
    margin-left: 20px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 300;
}

.fieldset-text-box{
    padding: 10px 15px;
}

.fieldset-text-two{
    margin: 10px 0 20px;
    border-width: 1px 0 0 0;
}

.fieldset-text-two legend{
    margin-left: 20px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 300;
}

.hr-color{
    padding: 7.5px;
}

hr{
    height: 1px;
    margin: 10px 0;
    border: 0;
    clear: both;
    background-color: silver;
}

.bg-red{
    background-color: #FF5722;
}

.bg-orange{
    background-color: #FFB800;
}

.bg-green{
    background-color: #009688;
}

.bg-cyan{
    background-color: #2F4056;
}

.bg-blue{
    background-color: #1E9FFF;
}

.bg-black{
    background-color: black;
}

.bg-gray{
    background-color: gray;
    color: #666;
}

.down-box-text-img img{
    border-radius: 50%;
}